*{
    padding: 0;
    margin: 0;
    text-align: center;
}
body{
    background-color: aquamarine;
}
.card{
    width: 70%;
    height: 300px;
    background-color: snow;
    text-align: center;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: auto;
}
button{
    width: 100px;
    height: 50px;
    background-color: yellowgreen;
    border-radius: 5rem;
    text-align: center;
    cursor: pointer;
    transition: all 2s ease;
}
button:hover{
    background-color: blueviolet;
}
.order-box{
    width:60%;
    height:200px;
    background-color: chocolate;
    display: inline-block;
    text-align: center;
    border-radius: 5rem;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.error{
    color: red;
}
.drink{
    color: blueviolet;
    font-size: 1rem;
    font-weight: bold;
}
.dark{
    background: linear-gradient(to right, blueviolet,yellowgreen);
    color: white;
}